#h1{
	
	position: absolute;


}
*{
	box-sizing: border-box;
}

#box{
	background-color: blueviolet;
	padding: 10px;
	border: 10px solid black;
	margin-right: 20px;
	margin: 20 ;
	float: 33.3;
	position: relative;
	width: 400px;

	
	
	;
}

#box2{
	background-color: blueviolet;
	padding: 10px;
	border: 10px solid black;
	width: 400px;
	margin-right: 20px;
	left: 300;
	position: relative;
	;
} 

#box3{
	background-color: blueviolet;
	padding: 10px;
	border: 10px solid black;
	width: 400px;
	margin-right: 20px;
	
	
	position: relative;
	;
}
#content{
	padding: 20px;
}

#p1{
	position: absolute;
	top: 0px;
	left: 300px;
	border: 5px solid black;
	background-color: white;
	padding: 10px;
}
#p2{
	position: absolute;
	bottom: 200px;
	left: 310px;
	border: 5px solid black;
	background-color: darkred;
	padding: 10px;
}
#p3{
	position: absolute;
	bottom: 200px;
	left: 300px;
	border: 5px solid black;
	background-color: yellow;
 	padding: 10px;
}

@media (min-width: 992px) {
#box2{
left: 440px;
top: -258px;
padding: 10px;
}

#box3{

left: 860px;
top: -518px;
padding: 10px;
}


}

@media(min-width: 768px) and (max-width: 991px) {
	#box{

		
		position: relative;
		width: 450px;  


		
	}

	#box2{
		
		position: relavive;
		right: -490px;
		top: -245px;
		width: 450px;

	}

	#p1{
        width: 80px;
        position: absolute;
        left: 354px;
        top: 0px;
	}

	#p2{
		width: 80px;
		top: 0px;
		left: 350px;
		position: absolute;
		padding: 10px;
	}
	

      #box3{
      	width: 950px;
      	top: -200px;
      	position: relative;
      }

      #p3{
      	bottom: 90px;
      	left: 855px;
      	position: absolute;
      }


	}
}